[2017-02-07 10:57] Soean opened #3 "Remove update_footer"
To remove the version and the update message from the admin footer, this filter should be added to a module:

`remove_filter( 'update_footer', 'core_update_footer' );`

[2017-02-07 11:03] darrenjacoby commented on #3
RemoveUpdateNotices would be the correct module, does the filter only remove the version number and update nag from the footer?

[2017-02-07 11:15] Soean commented on #3
Okay.

Yes, `core_update_footer()` only adds the message to the footer:
https://developer.wordpress.org/reference/functions/core_update_footer/

[2017-02-07 11:26] darrenjacoby commented on #3
Big thanks for your improvements @Soean !

[2017-02-07 11:26] #3 closed

[2017-02-07 12:28] Soean opened #7 "current_user_can before plugins_loaded"
If I call `intervention('remove-update-notices');` I get an error.

This is because the `current_user_can()` check is to early.

source: http://wordpress.stackexchange.com/questions/198185/what-is-valid-timing-of-using-current-user-can-and-related-functions

[2017-02-07 13:00] darrenjacoby commented on #7
I'm not able to reproduce this, does https://github.com/soberwp/intervention/pull/6/commits/4517f24c65c0f51458c9b58a7e7459d710b207c4 fix it for you?

Can we use admin_init rather than admin_menu for the action?

[2017-02-07 13:12] Soean commented on #7
No, the pull request is not related to this. Its another issue.
I try to reproduce this in an other installation.

[2017-02-07 13:29] Soean commented on #7
My function call was in a plugin without an action hook. So, now with an init hook it works, thanks...

[2017-02-07 13:29] #7 closed

[2017-02-07 13:29] darrenjacoby commented on #7
Cool, I've merged the other.  Let me know if you can recreate the error on `wp_get_current_user()
`

[2017-05-31 01:52] samburgers opened #10 "add-menu-item"
Is there any sense in having an `add-menu-item` function? Could just add it in the regular way, but would be nice and clean to include it with Intervention.

Many thanks!

[2017-05-31 07:51] darrenjacoby commented on #10
Hi @samburgers

Sure, just to add a blank wp-admin page?

[2017-05-31 07:56] samburgers commented on #10
My use case is that I need to set a link in the admin menu that goes straight to Edit a particular page (Homepage). I suppose it would just need to be a gateway to this:

https://developer.wordpress.org/reference/functions/add_menu_page/

Cheers!

[2017-05-31 08:05] darrenjacoby commented on #10
Cool, so it'll essentially be a wrapper for that function.  I'll take a look closer to the weekend.

[2017-06-01 04:47] samburgers commented on #10
Sounds good, thank you again!

[2017-07-27 00:57] bigskillet opened #11 "remove-dashboard-items"
Not working for me on WP 4.8.

[2017-07-27 00:59] bigskillet commented on #11
Sorry, disregard. User error.

[2017-07-27 00:59] #11 closed

[2017-08-02 14:56] 9585999 opened #13 "Composer install"
Hi, I came across your plugin, a useful thing. As I understand the plugin is more for developers than for the user. Maybe there is an opportunity to install it through the composer, but that he went to the `vendor/soberwp` folder, respectively, connected and worked from there?

I understand that it can be thrown in muplugins so that, but I would like to include it by default in the developed theme

[2017-08-04 17:44] darrenjacoby commented on #13
@9585999

I have had a [similar request](https://github.com/soberwp/models/issues/4) on the Models plugin.  I think the same would apply for Intervention.

I don't think Intervention is that closely coupled with a theme that is should be a theme dependency. If you're using Bedrock, you can use Composer to install the mu-plugin.

I'm open to debate though, but I know a lot of users using Interventi

[2017-08-05 06:35] 9585999 commented on #13
@darrenjacoby

Well probably that that there is a category of people which uses sage and does not use Bedrock, is the basic factor for realization **intervention**/**models**/**bundle** installation in a folder `vendor/soberwp`.

In any case, you can after all give people a choice where to put, for example, if you use Bedrock then `composer require soberwp/plugin`, if you want to put in the topic

[2017-08-05 09:17] darrenjacoby commented on #13
@9585999 makes sense, let me see what I can do.

Essentially all that needs to change is the package.json file and the way it's required, which could be done using an conditional statement. Branching out for a Sage version could work.

[2017-08-05 10:36] 9585999 commented on #13
@darrenjacoby Thank you for your attention.

[2017-08-06 06:12] #13 closed

[2017-08-09 18:13] renatonascalves opened #16 "Remove Toolbar Frontend"
Not sure if that's the intention but if I set up to show the tool bar in the user profile: `intervention('remove-toolbar-frontend');` has no effect.

I presume it would overide what a user might add there.

[2017-08-10 21:59] darrenjacoby commented on #16
Thanks, will take a look at this.

[2017-08-13 16:10] darrenjacoby commented on #16
@renatonascalves

I can confirm it's working on my end, could you provide more information? You could try run this function within your functions.php to debug and see if it works?

[code]

The module for this function is very basic—
https://github.com/soberwp/intervention/blob/master/src/Module/RemoveToolbarFrontend.php

[2017-08-13 17:40] renatonascalves commented on #16
@darrenjacoby Hi!

If you add the mentioned one above, it works. If I remove the above and add in intervention one, it doesn't work as expected. :/

[2017-08-13 19:15] darrenjacoby commented on #16
@renatonascalves could you try with the intervention function and specify an user role?

eg.
intervention('remove-toolbar-frontend', 'administrator');

(depending on the user role, or is it perhaps a custom user role you're using?)

[2017-08-19 21:01] Log1x opened #17 "Remove new WordPress Widgets"
Hey.

Could we get support added to remove the new WordPress widgets? Akismet would also be nice since it's included by default.

New widgets include Audio, Custom HTML, Image, and Video.

[2017-08-20 17:37] darrenjacoby commented on #17
@Log1x thanks for bringing to my attention.

I've included in the new release of Intervention, which I'll push up soon.

[2017-08-20 17:37] #17 closed

[2017-08-20 19:38] darrenjacoby commented on #10
@samburgers added in 1.2.0 which I'll be releasing this week.

[2017-08-20 19:38] #10 closed

[2017-08-21 03:38] renatonascalves commented on #16
Sorry! Forgot to come back and provide my feedback. That error still applies.

It seems user settings takes precedence. The same doesn't happen if one uses the function without checking the user role though.

[2017-08-22 18:27] Log1x commented on #17
Thanks!

[2017-08-26 10:03] darrenjacoby commented on #16
@renatonascalves

I'm still unable to replicate. Could you provide more information? Perhaps a GitHub link?

Are you perhaps using a custom user role? Do other modules work as expected that require user roles?

[2017-08-26 12:54] darrenjacoby commented on #10
Added in 1.2.0
https://github.com/soberwp/intervention/blob/master/.github/add-menu-page.md

[2017-08-26 12:55] darrenjacoby commented on #17
Added in 1.2.0
https://github.com/soberwp/intervention/blob/master/.github/remove-widgets.md

[2017-08-26 12:56] darrenjacoby commented on #13
Added from 1.2.0

From your Sage theme dir
[code]

[2017-08-26 13:13] 9585999 commented on #13
@darrenjacoby Nice, Thank you!

[2017-08-26 13:34] darrenjacoby commented on #13
No prob, going to add to Models and Bundle too.

[2017-08-26 15:52] renatonascalves commented on #16
Strange! Really strange! I tried these:

`intervention( 'remove-toolbar-frontend');`
`intervention( 'remove-toolbar-frontend', 'editor' );`
`intervention( 'remove-toolbar-frontend', 'administratot' );`

None of them work. Only when I add like that: `add_filter( 'show_admin_bar', '__return_false' );`

[2017-08-27 17:06] darrenjacoby commented on #16
That is strange. If you could provide a link to the project I could try debug from there. Just to ask, are the other modules working (that have user role options) ?

[2017-09-01 11:40] darrenjacoby commented on #16
@renatonascalves

Just checking in here?

[2017-09-01 12:00] 9585999 commented on #16
Works for me.

Option in the admin panel is enabled, the toolbar is not displayed in the frontend.

[2017-09-01 12:06] darrenjacoby commented on #16
Same, I haven't been able to replicate no matter what I've tried.

[2017-09-01 12:36] renatonascalves commented on #16
@darrenjacoby I decided to keep using `add_filter( 'show_admin_bar', '__return_false' );` I can't make it work with the intervention one. :)

[2017-09-01 12:36] #16 closed

[2018-04-06 20:37] connerbw opened #21 "remove_menu_page(): E_WARNING: Invalid argument supplied for foreach()"
`remove_menu_page()` sometimes : E_WARNING: Invalid argument supplied for foreach()

Problematic code:
[code]

URL	/wp/wp-admin/admin-ajax.php
HTTP referrer	https://_SOME_SITE_/wp/wp-admin/network/users.php

Stack trace:
[code]

Offending line:
https://github.com/soberwp/intervention/blob/7d69c58b32fce29aad08e4ff9c9de43963122610/src/Module/RemoveMenuItems.php#L121

Possible reason: `global $menu`

[2018-05-09 11:03] nightillusions opened #22 "'remove-widgets' not working"
Hi there,

the `intervention( 'remove-widgets' );` doesn´t work in my setup. Still all WordPress Widgets are present in backend:
![Widgets in backend](https://i.imgur.com/jFVusbC.png)

My code:
[code]

Any ideas what could cause this issue?

[2018-05-11 12:44] darrenjacoby commented on #21
Seems like a WP issue, so closing for now.

[2018-05-11 12:44] #21 closed

[2018-05-11 12:46] darrenjacoby commented on #22
I'll test, but you can remove this in your code so long,

`add_action( 'init', function() {`

[2018-05-11 13:42] wdj-ac commented on #22
Thanks for your feedback.

I´m using it in `mu-plugins`. Without hook:

[code]

[2018-06-05 19:13] hexcross opened #23 "feature request for clean wp_head"
Awesome plugin along with models!! Thanks.

I have idea to few improvements:
1. add support to remove wp-embed
2. add suport to clean wp_head meta tags
3. add support to hide comments from topbar in admin

[2018-06-05 19:40] darrenjacoby commented on #23
I will take a look at getting these added when I have a chance. I'm also open to a PR on any of the above.

[2018-09-19 17:37] pacotole opened #27 "update-pagination force update_user_meta on every page load"
update-pagination module force three `update_user_meta` for every user on every page load.
On a page with many users, like a Woocommerce shop with a lot of clients, causes a great delay on every charge of dashboard pages (3 * SELECT, UPDATE * user).

[2018-12-11 18:47] darrenjacoby commented on #27
merged to dev-master for now, will tag soon, thanks!

[2018-12-11 18:47] #27 closed

[2019-01-10 22:41] neilgilmour opened #29 "A user with multiple roles confuses `remove-toolbar-frontend`"
I have added `intervention('remove-toolbar-frontend', 'all-not-admin');` and it removes the toolbar when a user has a role other than admin (excellent!) even when that user ALSO has an admin role (boo!).

It's an edge case so I'm flagging it up for interest really.

The following snippet works for admins who also have other roles
[code]

[2019-05-28 13:35] voyou-sbeaulieu opened #30 "unable to remove plugins options page"
We are using the `intervention('remove-menu-items');` to remove all the "danger-item" but there some Dev plugins pages we want to remove here an example :

Custom Post Type UI ([https://en-ca.wordpress.org/plugins/custom-post-type-ui/](url)) plugins create a options page with this URL:`/wp-admin/admin.php?page=cptui_manage_post_types`

We tried to target this page to hide it without success like s

[2020-01-06 07:37] losderpos commented on #21
Fixed doing this:
[code]

[2020-04-30 02:32] pixeline opened #34 "add-svg-support : no preview"
[code]

allows uploading SVG files, but only some do get a preview thumbnails.

[2020-05-21 10:39] pacotole opened #35 "New realease"
The last release is from 26 Aug 2017.

Please, release a new version with latest fixes included.

[2020-05-21 10:41] darrenjacoby commented on #35
Hi @pacotole , I plan on releasing a new version soon. I was going to create a new major version with new features, etc, but I can also do a release with the latest fixes prior. I will look into this soon.

[2020-07-05 14:01] darrenjacoby commented on #35
Long overdue, but 1.3.0 has been released. Thanks for your patience, Intervention is going to be getting a lot more love moving forward.

[2020-07-05 14:01] #35 closed

[2020-07-05 14:02] darrenjacoby commented on #30
@voyou-sbeaulieu long overdue, but did you get this working?

[2020-07-05 14:03] darrenjacoby commented on #29
Thanks @neilgilmour , I'll be re-working the ways roles are used with Intervention for an upcoming major release and will keep this in mind.

[2020-07-05 14:03] #29 closed

[2020-07-05 14:04] darrenjacoby commented on #23
Thanks for your suggestion, it will be included for the next major release.

[2020-07-05 14:04] #23 closed

[2020-07-05 14:04] #22 closed

[2020-09-05 17:47] darrenjacoby commented on #34
Thanks, looking into this for the next major release (2.0.0)

[2020-09-05 17:48] darrenjacoby commented on #30
Should work with upcoming version 2.0.0 (there is no config list, only an array of roles)

[2020-09-05 17:48] #30 closed

[2020-09-08 20:30] #34 closed

[2020-10-26 16:44] grahammtbr opened #39 "PHP Errors in Ajax Response warning when removing comments menu item"
Query Monitor yelled at me after adding remove comments menu item to my array,
[code]

Here's what my console had to say,
[code]

[2020-10-26 16:47] grahammtbr opened #40 "[wp-admin.comments.all] has 'appearance' in the docs example :)"
What the title says.

[2020-10-26 16:51] grahammtbr commented on #40
Found more errors in the docs, I'll close this and post a full list of what I find after I'm done creating my config file.

[2020-10-26 17:33] grahammtbr commented on #40
Another one I saw is under [wp-admin.posts]. It has 'pages' instead of 'posts' under Options.

[2020-10-26 19:16] darrenjacoby commented on #40
Thanks @grahammtbr , corrected!

[2020-10-26 19:16] #40 closed

[2020-10-26 19:19] darrenjacoby commented on #39
Thanks @grahammtbr , added https://github.com/soberwp/intervention/blob/master/src/Admin/Support/Router.php#L60-L62, could you re-test from master? Should solve WP/AJAX related issues.

[2020-10-26 19:45] grahammtbr commented on #39
This fixed the warning, closing.

[2020-10-26 19:45] #39 closed

[2020-10-26 19:52] grahammtbr opened #41 "Setting applies to wp-admin-{any-role-here} affects Super Admin."
Like the title says, any settings applied to 'wp-admin.any-role' gets applied to super admin accounts. Regular admin accounts work as expected. I tested all roles (editor, author, etc.)

[2020-10-26 19:57] akasharkbow opened #42 "Upgrading from 1.x to 2.x Confusion"
Hello there. I'm using Sage 9 and working to upgrade the code to the latest version but sadly I can't seem to get it going. I've got the intervention.php in the theme root directory but I can't seem to figure out the code using the examples. Here is what I've got:

`<?php

return [
'wp-admin.{all}' => [
'common.adminbar',
],
];
`

Is that all I need to add into the file to get it to work?

[2020-10-26 20:01] darrenjacoby commented on #42
Try remove the braces { } around “all”, that was in the docs to illustrate a variable. I will update the docs to make that more obvious tomorrow.

[2020-10-26 20:20] darrenjacoby commented on #42
I have renamed {role} to $role for better clarity.

[2020-10-26 20:30] darrenjacoby commented on #41
Thanks for testing @grahammtbr , it's a big help.

I have replaced the user role conditional which had `current_user_can()`, would you mind re-testing? https://github.com/soberwp/intervention/blob/master/src/Intervention.php#L111-L113

[2020-10-26 20:35] akasharkbow commented on #42
Thanks for that. Some feedback for the docs for dummies like me, I would suggest a sample file with a typical code set-up. You probably need 2-3 then a quick breakdown of things. There are lots of awesome sample code through the docs but having a working sample with the <?php at the start makes it easy to work off.

Also, you mention the file location for Sage 10. For those using Sage 9 it doesn't

[2020-10-26 20:48] darrenjacoby commented on #42
Thanks @akasharkbow , I will create a demo file and mention the config file should be from the stylesheet directory versus root folder. Closing for now.

[2020-10-26 20:48] #42 closed

[2020-10-26 23:07] grahammtbr commented on #41
That fixed it! Closing.

[2020-10-26 23:07] #41 closed

[2020-12-07 12:51] bognarlaszlo opened #43 "[application.posts]"
Hi guys!

It looks like in the `intervention/src/Application/Support/Posttypes/Register.php` the `setSupports` method is broken.

It returns this:
[code]

Instead of something like this:
[code]

[2020-12-07 14:59] darrenjacoby commented on #43
@bognarlaszlo thanks, I will take a look into this!

[2020-12-07 15:16] darrenjacoby commented on #43
@bognarlaszlo are you modifying an existing post type, or creating a new one? New one if I'm correct?

[2020-12-07 15:28] bognarlaszlo commented on #43
Hi, I am creating a new one. The relevant part of the `intervention.php` looks like this:

[code]

[2020-12-11 11:17] smeedijzer-internet opened #44 "Possible to rewrite base slugs?"
Hi,

Is it possible to rewrite base slugs, like `search_base`, with this plugin?

[2020-12-11 12:03] darrenjacoby commented on #44
You can rewrite category and tag base slugs ([https://github.com/soberwp/intervention/blob/master/.github/application/permalinks.md](https://github.com/soberwp/intervention/blob/master/.github/application/permalinks.md)), but not search currently.

I like the idea of also being able to change the search slug so will add it in for a future release.

[2020-12-11 12:09] darrenjacoby commented on #43
Thanks, can confirm the issue. I have pushed a fix to dev-master if you want to give it a go.

[Fix register post type supports array](https://github.com/soberwp/intervention/commit/7b9c73263ab36d41a6dcf19bf313b2fdb8869184#diff-99e7358da92c4ba8da69d861d8cd75876a8d3f5ab1acd52a14dafb01f01c3a5b)

[2020-12-11 12:51] darrenjacoby commented on #44
Added in `permalinks.search-base` to dev-master, so feel free to give it a go.

[Permalinks search-base](https://github.com/soberwp/intervention/commit/551234c5c9b506f8c91520932ea100bf69b63801#diff-25a6634263c1b1f6fc4697a04e2b9904ea4b042a89af59dc93ec1f5d44848a26)

[2020-12-15 11:39] smeedijzer-internet commented on #44
Thanks, it works as expected!

I created a drat pull request for adding extra rewrite bases:

https://github.com/soberwp/intervention/pull/45

[2020-12-15 11:42] darrenjacoby commented on #44
Nice, thanks! I'll take a look and see if I can get it merged.

[2020-12-30 21:03] smeedijzer-internet opened #46 "Idea: make options appear as disabled/readonly"
What do you think about making the options appear as disabled/readonly instead of removing them?

Like this plugin:
https://github.com/devgeniem/wp-readonly-options

[2021-01-09 14:27] erikhartin opened #47 "Composer error when used with WooCommerce on v. 1.3"
Hey!

Intervention 1.3 seems to break when used in conjunction with WooCommerce and Bedrock.

To reproduce:

1. create new bedrock: `composer create-project roots/bedrock`
2. install Intervention: `composer require soberwp/intervention`
3. install woocommerce: `composer require woocommerce/woocommerce`

After the usual mess of Woocommerce deprececation notices composer fails with message:

It work

[2021-01-12 10:18] darrenjacoby commented on #47
I would recommend using 2.0.0-rc1. I'm using it in multiple production sites already. I will tag a stable release towards the end of this month, with very minimal to no changes.

[2021-01-12 10:20] darrenjacoby commented on #46
Hey @smeedijzer-internet , I thought of this when building it.

I still like the idea, perhaps even preferring it to removing the field to be honest. I would like to get others thoughts on this too. If I am to offer both, do you have a suggestion for the config file API to alternate between removing/read-only?

[2021-01-12 10:21] darrenjacoby commented on #44
@smeedijzer-internet I've been on summer vacation (southern hemisphere!) but will take a look at this soon.

[2021-01-12 10:26] #43 closed

[2021-01-20 21:08] jrgd opened #49 "[application.posts] plural form is automatic; won't use parameter"
Heya;

custom post types are using the auto-pluralised rather than the 'many' parameters

I'm trying to get to use the french plural (Lieux) I specify in the config/intervention.php (cf below), but it just outputs the auto-pluralised version (Lieus) in the admin menu:
- in the LHS menu, in the admin
- in the header listing my single classes in the admin edit.php?post_type=places

[code]

[2021-01-21 10:30] smeedijzer-internet commented on #44
Summer vacation, that nice during corona times!

[2021-01-21 12:02] darrenjacoby commented on #49
Thanks @jrgd , I will look into this. Admittedly the post types module could use some more refining.

[2021-01-21 12:02] #47 closed

[2021-01-21 12:05] darrenjacoby commented on #44
Ha, well, a very limited at home summer vacation I should say. Heard the NL has been getting tough on the restrictions.

[2021-01-21 23:35] bigskillet opened #50 "[wp-admin.common.adminbar.user]"
Admin bar user options are not being removed.

**Intervention: 2.0.0-rc.1
WordPress: 5.6**

`common.adminbar.user.[howdy, avatar, profile, edit]`

[2021-01-22 00:09] bigskillet commented on #50
Never mind... it just dawned on me that those are options, not an array, and that I should remove the brackets.

`common.adminbar.user.howdy`

[2021-01-22 00:09] #50 closed

[2021-01-22 14:36] jrgd commented on #49
looks like this PR https://github.com/soberwp/intervention/pull/48 solves both this issue and the one I referred to on root's slack (about links multiple taxonomies in an array)

[2021-01-22 14:44] jrgd commented on #49
can confirm the PR https://github.com/soberwp/intervention/pull/48 is solving both issues (thank you guys!)

[2021-01-22 20:24] grahammtbr opened #51 "wp_register_script called incorrectly error - v. 2.0.0rc1"
I keep getting this error message on 2.0.0rc1 (from master) when editing/creating a new a page/post that's using the Gutenberg editor.

`Notice: wp_register_script was called incorrectly. Scripts and styles should not be registered or enqueued until the wp_enqueue_scripts, admin_enqueue_scripts, or login_enqueue_scripts hooks. This notice was triggered by the intervention-block-editor handle. Plea

[2021-01-23 12:29] darrenjacoby commented on #51
@grahammtbr thanks for reporting! I was able to replicate and have pushed a fix. [036e6a3](https://github.com/soberwp/intervention/commit/036e6a3b950e4e9861f310ffe3695c3993868b5b)

[2021-01-23 12:31] darrenjacoby commented on #49
Thanks, I'll close this issue and merge PR #48

[2021-01-23 12:31] #49 closed

[2021-01-23 14:18] darrenjacoby commented on #50
Yea! I can look into making that clearer in the docs.

You can also pass `common.adminbar.user => ['howdy', 'avatar', 'profile', 'edit]` if you want to group them.

[2021-01-25 11:48] darrenjacoby commented on #44
I'm closing this for now and will refer to the PR once more thoroughly reviewed.

[2021-01-25 11:48] #44 closed

[2021-01-27 08:48] darrenjacoby commented on #51
Hey @grahammtbr just checking in to see if you've had a moment to check if it's working now on your end?

[2021-01-27 17:23] grahammtbr commented on #51
Hi @darrenjacoby sorry no, my ISP supplied me with a bad modem and I was without internet until yesterday. I'll be testing it today!

[2021-01-27 18:44] grahammtbr commented on #51
@darrenjacoby Can confirm the fix is working correctly on my sites.

[2021-01-27 19:15] darrenjacoby commented on #51
No problem! Thanks so much, and good to hear everything is working now.

[2021-01-27 19:15] #51 closed

[2021-01-28 14:17] darrenjacoby commented on #46
@smeedijzer-internet [FYI](https://twitter.com/withjacoby/status/1354795352147300362)

[2021-01-29 22:53] grahammtbr opened #52 "posts.all.title throws php errors and ajax errors"
I have another one for you, when setting 'posts.all.title' => 'title' I get the following php error,

`Notice: Undefined index: post_type in /var/www/html/wp-content/plugins/intervention-master/src/Admin/Posts/All.php on line 113`

and when running Query Monitor I get the following php ajax error in the browser console on the All Posts page that continues to repeat every 10 seconds or so,

`Object

[2021-01-30 11:23] darrenjacoby commented on #52
@grahammtbr

Thanks for picking this up. I had some issues when initially developing this feature actually, particularly across post types.

I have separated the `x.title.menu` and `x.title.page` which allows me to check for those keys individually rather.

Do you mind testing? [59eb5ccf263ad64f1c6fedeafaf2d5e41de3f059](https://github.com/soberwp/intervention/commit/59eb5ccf263ad64f1c6fedeafaf2d5e

[2021-01-30 19:07] darrenjacoby commented on #46
I tested changing the fields to disabled and it feels much better, so application options now disabled fields rather than removing. You can still use `wp-admin` to remove the fields for all or specific roles.

Thanks for the suggestion @smeedijzer-internet

#https://github.com/soberwp/intervention/commit/89cbe45aaa5dc788f881023194f47a5de205ed70

[2021-01-30 19:07] #46 closed

[2021-02-01 22:28] smeedijzer-internet commented on #46
Awesome, going to test it tomorrow!

[2021-02-02 08:36] smeedijzer-internet commented on #44
Yeah, we are in lockdown now till a least 9 februari. I hope there will be less restrictions when spring comes here.

I think something went wrong with the draft pull, I created it again.

[2021-02-02 09:05] smeedijzer-internet commented on #46
Tested it, and it works perfect! thanks

[2021-02-02 23:35] grahammtbr commented on #52
Hi @darrenjacoby, sorry for the late reply. I tested and the errors are gone :)

[2021-02-03 00:20] grahammtbr opened #54 "PHP error (notice) when adding a new page/post/cpt"
There's always one more... LOL I get this a notice in Query Monitor when adding a **new** page/post/cpt. I don't get it when editing an existing post.

`WP_Block_Type_Registry::register was called incorrectly. Block type "sober/intervention-block-editor" is already registered. Please see Debugging in WordPress for more information. (This message was added in version 5.0.0.)`

[2021-02-03 07:59] darrenjacoby commented on #54
@grahammtbr hah, thanks for testing so much, it's been a big help!

Do you mind sending through the intervention config for this one? Looks like the same error that was happening for the block editor under posts/pages.

[2021-02-03 07:59] #52 closed

[2021-02-03 17:47] grahammtbr commented on #54
Here's my config:

[code]

[2021-02-04 09:19] darrenjacoby commented on #54
@grahammtbr , struggling to replicate this side. Have you got the latest version? This [commit](https://github.com/soberwp/intervention/commit/036e6a3b950e4e9861f310ffe3695c3993868b5b) should have the fix.

[2021-02-04 21:37] grahammtbr commented on #54
Okay, I just realized that this only occurs on my local dev environment (docker, specifically [10up's docker](https://github.com/10up/wp-local-docker-v2)). So not a true issue, but still odd.

[2021-02-04 22:19] darrenjacoby commented on #54
Just wondering, does the error go away if you remove only
“pages.item.discusssion” from the config?

On Thu, 04 Feb 2021 at 23:38, grahammtbr <notifications@github.com> wrote:

[2021-02-05 09:17] bognarlaszlo commented on #43
@darrenjacoby Thanks for the quick fix. Sorry for being late to reply. I can verify it works as expected.

[2021-02-05 16:47] grahammtbr commented on #54
Yes, commenting out “pages.item.discussion" removes the error.

[2021-02-05 19:58] darrenjacoby commented on #54
And if you remove only “posts.item.discussion”, and put
“pages.item.discussion” back, does the error come back?

Sorry, debugging through you here to try provide a possible solution.

On Fri, 05 Feb 2021 at 18:48, grahammtbr <notifications@github.com> wrote:

[2021-02-06 13:18] darrenjacoby commented on #54
I ended up re-working the block editor enqueue and adding in some checks to avoid enqueuing multiple times. [623bb1c08c709cfe8d3361062c0a1ad5d82e0f4f](https://github.com/soberwp/intervention/commit/623bb1c08c709cfe8d3361062c0a1ad5d82e0f4f)

[2021-02-08 21:17] grahammtbr commented on #54
Hey, sorry for the late reply. I updated with the latest commit, and it fixed the issue. Thanks for that!

[2021-02-08 21:20] darrenjacoby commented on #54
No problem! Thanks for always reporting and bringing to my attention. If you find anything else let me know!

[2021-02-08 21:20] #54 closed

[2021-02-08 23:37] grahammtbr opened #55 "CPT registration - add support for 'supports' new array of arguments, which leads the way to adding 'template' support"
This is more about the second item (yeah, I'm finally starting to deal with Gutenberg for CPT's), but the format it accepts is the same as the newly optional array of arguments in the supports key. Neither work, an array to string conversion error is returned. I tried to add a Register->setTemplate() method figuring I could mimic the setSupports() method, but it doesn't support the nested arrays.

[2021-02-09 15:15] darrenjacoby commented on #55
Yea, I may need to relook how arrays are handled for registering post types and taxonomies. Perhaps an array helper function so that it helps with contributions, and a solution that adapts to future possible attributes better.

I'll look into the options over this coming week.

[2021-02-09 22:52] grahammtbr opened #56 "Doesn't work on multisite install"
Like the title says. No errors or anything, just didn't work.

Not a big deal for me, I just rolled that client back to ver. 1.3, it's fine on that version with WP's infinite backwards compatibility :smile:

[2021-02-17 13:03] tablufc88 opened #57 "all-not-administrator with multiple roles"
I've created a membership style site so each user has multiple roles depending on whether they are signed up.

Not got too far with the setup, but when trying to set options separately using `all-not-administrator` it has no effect. Guessing this is due to the multiple roles. Is there a way around this?

E.g. With the following, I can't see any updates when logged in as admin.

`'wp-admin.all' =>

[2021-02-17 13:25] darrenjacoby commented on #57
Hi @tablufc88 ,

What plugin are you using (if any) to implement multiple user roles? I would like to re-create my side to test and see if I can find a viable solution.

[2021-02-17 13:44] tablufc88 commented on #57
Hey @darrenjacoby,

Not using a plugin, just using Stripe to assign roles based on subscription type with `$user->add_role( $siteRole );$user->add_role( $planRole );`

It seems that you can assign multiple roles using this plugin - https://en-au.wordpress.org/plugins/user-role-editor/

[2021-02-17 14:02] darrenjacoby commented on #57
OK cool, will test with `$user->add_role()`, just wanted to make sure that was the route you were taking!

[2021-02-18 02:34] tablufc88 opened #58 "Notice: Undefined index: post"
Sorry to post issues twice in a couple of days. I was using version 1.2 for a while and finally decided to upgrade yesterday. When updating a post or page, I'm getting the following errors. Any ideas why?

`Notice: Undefined index: post in /srv/www/site/current/web/app/plugins/intervention/src/Admin/Posts/Edit.php on line 97`

`Notice: Undefined index: post in /srv/www/site/current/web/app/plugins

[2021-02-18 10:07] darrenjacoby commented on #58
Absolutely no problem! I appreciate you taking the time to report any issues.

Are you using dev-master (not `2.0.0-rc1/2`)? Could you pass on intervention config for me?

My guess is that this check is throwing the error; `$_GET['post']`, but just want to confirm that you're on dev-master as there was a similar issue reported on `2.0.0-rc1/2`

[2021-02-18 10:51] darrenjacoby commented on #58
I haven't been able to replicate locally, but I have added in further checks for 'post'. [cb23723](https://github.com/soberwp/intervention/commit/f333b6a143a60a17d1cea2dcd88784b9ccbaeaa1)

Please pull down dev-master and let me know if that works in getting rid of the notice.

[2021-02-18 11:07] darrenjacoby commented on #57
Hi @tablufc88 ,

Tested this with the plugin above, and it seems to work as should.

This sounds correct though. Any user role **with** `administrator` won't have `common.updates` removed, as it applies to all user roles excerpt administrator.

Let me know if I'm understanding the above correctly.

[2021-02-18 11:54] darrenjacoby commented on #56
Hey @grahammtbr ,

So this is an interesting one. I'm assuming you're using a 'super' administrator user, viewing multisite dashboards. WordPress seems to not pass any user roles for the super administrator role, or administrator role on a network level, so we're left with an empty `$current_user->roles` array, and therefore Intervention doesn't apply the config file. Using `wp-admin.all` actually

[2021-02-18 17:39] grahammtbr commented on #56
Thanks Darren. I could have sworn I tried `wp-admin-all` and it didn't work, but I tried it again (with the some version) and it worked... I must have been asleep at the wheel.

Thanks for all your work on this, it's definitely appreciated. It's the config file I always wanted to create, but never got around to!

[2021-02-18 17:44] darrenjacoby commented on #56
@grahammtbr hah, it happens! So, to confirm, the latest fix (on `dev-master`) is working as well with `wp-admin.administrator`? I want to make sure you get the role capabilities on multisite too. It's a pleasure, and thank you for the nice words!

[2021-02-22 05:35] tablufc88 commented on #58
Thanks mate. All good now.

[2021-02-22 05:35] #58 closed

[2021-02-22 05:46] tablufc88 commented on #57
Found the issue. I had assigned another role to admin for debugging. When I removed it, intervention works as it should like you say.

My bad! I guess this wouldn't happen too often, so it's probably nothing to worry about.

[2021-02-22 05:46] #57 closed

[2021-02-22 08:05] darrenjacoby commented on #58
Thanks for confirming!

[2021-02-24 09:26] emanueljacob opened #59 "Remove customize does not work as expected (remove cutomizer link wont work in intervention 2)"
As far as I understand it, one can remove the customizer link by using something like this (roots/bedrock, intervention 2 (master), sage 10 via config/intervention.php, Wordpress 5.6.1):

`config/intervention.php`

[code]

although, this disables the customizer functionality, it __does not remove the customizer menu link__.
If that is the expected behavior we should update the corresponding readme

[2021-02-24 10:15] darrenjacoby commented on #59
Hi @emanueljacob ,

Thanks for reporting. You're correct in your thinking that `appearance.customize` should remove the submenu item. WordPress throws in a `?return=` for the customizer page so I have created a fix to account for that. I have pushed a fix onto dev-master which should resolve, [4189186].(https://github.com/soberwp/intervention/commit/4189186daaebd14e26a2a5cc20d3442bfd92112d)

 Plea

[2021-02-24 12:13] emanueljacob commented on #59
@darrenjacoby
Thank you for your awesomely fast reply! Yes, your changes seems to fix it.

btw: I was confused, seeing composer not updating the master, even after `composer clear-cache` until I realized that the master is not yet published to packagist in its latest state... when are you usually push the master to packagist (didn't see any automatic action for that)? is there an eta for a stable

[2021-02-24 12:25] darrenjacoby commented on #59
No problem!

Ah, that's painful, I see I had to re-allow Packagist access to this organisation on GH. Not sure why that had changed, but updates should be syncing again now.

There's still two changes I want to make before tagging a stable 2.0.0, namely renaming `application.site` to `application.general` to match the WordPress UI, and address https://github.com/soberwp/intervention/issues/55

I s

[2021-02-24 12:28] #59 closed

[2021-02-24 12:28] darrenjacoby commented on #56
Hey @grahammtbr , just checking if it's all working and I can close the issue?

[2021-02-24 22:33] grahammtbr commented on #56
Sorry, missed this. Yes, it's working. Thanks!

[2021-02-25 06:59] #56 closed

[2021-03-01 08:53] darrenjacoby commented on #55
@grahammtbr I still need to apply this to the post type update method, however if you're registering a custom post type via Intervention, then you can pull down the latest push and give it a go.

Reference [d181fe7 ](https://github.com/soberwp/intervention/commit/07007285484ed03cb311bb92e3c0d4dd1acc153d)

[2021-03-02 19:40] grahammtbr opened #60 "Removing the blog (posts) from wp-admin cause edit.php redirect error on all post types."
As the title says. I'm on the latest master, but this is the first time I've tried to remove the default posts, so don't know if it's a newly introduced bug or not.

`'wp-admin.all' => [
    'posts',
]`

[2021-03-02 19:40] grahammtbr commented on #55
I'll test this shortly.

[2021-03-02 20:05] darrenjacoby commented on #60
Interesting issue, not sure if this is new to be honest. No real code changes around the Router though, so I don't think so. I pushed up a right now. [a830b21](https://github.com/soberwp/intervention/commit/a830b21da225e3e42132df01bd50c5572caad7de)

[2021-03-02 20:07] darrenjacoby commented on #55
Both register and update should be working now. (eg. `application.posts.post.template = [...an sickening amount of arrays]`)

[2021-03-02 20:17] grahammtbr commented on #60
Thanks, fixed! Closing.

[2021-03-02 20:17] #60 closed

[2021-03-02 21:20] darrenjacoby commented on #55
Just noticed from the original message that I need to add recursive array support to “supports” still

[2021-03-07 15:06] darrenjacoby commented on #55
@grahammtbr

This should be working now, and will be far more robust and future proof. Removed some of the config array manipulation for the application section.

Changes; [7fe348d](https://github.com/soberwp/intervention/commit/7fe348d5fcae3f8fe47ab939ef01a6ad852227b0)

And with that I think we're close to a stable release now!

[2021-03-10 20:07] #55 closed

[2021-03-23 11:15] huubl opened #61 "Language not changing"
Hi,

I try to set the default language to dutch in version: 2.0.0-rc.2 with the config below:

[code]

Somehow the language is not changing, you know why?

[2021-03-23 11:23] darrenjacoby commented on #61
Hey @huubl ,

Changing language in WordPress programatically is a bit of a pain, I almost left it out of Intervention, but it's using this function, [`switch_to_locale()`.](https://developer.wordpress.org/reference/functions/switch_to_locale/)

Basically, the language needs to be installed first. You will be able to see from the list below. It's not ideal, but after some further research it seemed

[2021-03-23 13:08] huubl commented on #61
@darrenjacoby thanks. I think I found a solution, see https://github.com/soberwp/intervention/pull/62

[2021-03-23 13:08] darrenjacoby commented on #61
Oh, amazing, thanks so much! I'll test later and merge.

[2021-03-23 13:15] huubl commented on #61
No problem :)

I looked at [this post](https://wordpress.stackexchange.com/a/318385/180842) and WPML [classes/localization/class-wpml-download-localization.php#L23-L56](https://github.com/oandermedia/plugin-sitepress-multilingual-cms/blob/4ffc227ec9db73b2c2118448d16194b6a3596437/classes/localization/class-wpml-download-localization.php#L23-L56)

[2021-03-24 09:29] #61 closed

[2021-03-24 09:31] darrenjacoby commented on #61
Thank you for the research and getting that sorted @huubl !

[2021-03-28 16:29] dooke opened #63 "Gutenberg editor in custom post type"
Hello,

Great work this code is awesome!

I have a problem with the options show_in_rest
According to the documentation https://developer.wordpress.org/reference/functions/register_post_type/ if we set this option the post type will be available in block editor.

Do you have an issue / solution for this.

Thanks a lot ;)

[2021-03-28 16:39] darrenjacoby commented on #63
Hi @dooke ,

Thanks!

This should be available when registering a post type.

You can assign as follows, if the post type is 'book';

`'application.posts.book.show-in-rest' => true`

Let me know if that's working for you.

[2021-03-29 08:30] dooke commented on #63
Thank you!! It works.

So initial var / key in array have to replace '_' by '-'
`show_in_rest`
with
`show-in-rest`

[2021-03-29 08:30] #63 closed

[2021-03-29 08:33] darrenjacoby commented on #63
Good to hear! It should work either way actually, but I'll test again to make sure that's the case.

[2021-04-12 15:39] claytoncollie opened #64 "Question: Why use update_option instead of pre_option_{$option} filter"
This is a very nice plugin and something I have been looking for for a long time. Great job. I did have a general question tho. Why are you updating the database all of the time with `update_option` calls. Why not use the `pre_option_{$option}` filter to short circuit the database call? Seems like it would improve performance and also log the options down to whatever you set in your array.

https:

[2021-04-12 16:03] darrenjacoby commented on #64
Hey @claytoncollie,

I'm open to the suggestion of changing to `pre_option`, initially I wanted to update the DB value, but perhaps that's not necessary. What's your thoughts? I'm trying to preempt any downsides to using `pre_option` for users.

[2021-04-12 19:55] claytoncollie commented on #64
I have not used this package yet so this is only thinking out loud. If you enabled all options in your config array then went to random pages in the wp-admin with Query Monitor turned on, you could see how many queries are being generated on each page load. My thought is that you are performing 2 database actions for each page load for each option. First to make the `update_option` call, then the

[2021-04-12 20:22] darrenjacoby commented on #64
Hey @claytoncollie,

Let me give it some more thought and do a little prototyping, perhaps an approach that uses both, only updating the DB at certain intervals, or on the dashboard/settings pages, or a version of that, and `pre_option` otherwise. I feel like that would be a win-win.

[2021-04-14 10:18] pacotole commented on #64
Yes, I have the same question.

In principle, the `pre_option_{$option}` seems better, which bypass all the logic of the `get_option` function and returns the desired value. The downside is that you lose all settings when exporting or if you need to disable Intervention.

The `update_option` store your config on DB and solves previous downside. It should really only update on the first page load b

[2021-04-14 12:21] darrenjacoby commented on #64
Hey @pacotole,

This looks great, thank you! I think having it in that file is perfect.

I'll do some prototyping with `update_option` and `pre_option`. Another line of thought could be comparing the application config with a temp version, and if there are changes to the config, update the DB and update the temp version. Then we wouldn't even really need `pre_option`, while also removing unnecessa

[2021-04-14 18:52] claytoncollie commented on #64
I like the pre_option way of doing it b/c you can see it easier in the codebase. People understand how it relates to WordPress but using a core function. By doing an array compare, you are introducing custom logic that might be foreign to outsiders. You are also introducing a storage place for the temp version. Where does that get stored? Can it be lost or corrupted? How can you delete it when nee

[2021-04-14 18:52] claytoncollie commented on #64
I like the pre_option way of doing it b/c you can see it easier in the
codebase. People understand how it relates to WordPress but using a core
function. By doing an array compare, you are introducing custom logic that
might be foreign to outsiders. You are also introducing a storage place for
the temp version. Where does that get stored? Can it be lost or corrupted?
How can you delete it when nee

[2021-04-14 19:51] darrenjacoby commented on #64
Yea, fair points that I agree with, thanks for thinking that through. Alright, so let’s go with `pre_option` and an occasional DB request! I’ll take a look at getting it changed soon.

[2021-04-23 06:14] jmerilainen opened #66 "Labels translations"
I was wondering if the function order related to translations in `src/Application/Support/Posttypes/Labels.php` and `src/Application/Support/Taxonomies/Labels.php` is intended as it is now? So currently the `sprintf` method is called inside `__` function – for example ` __(sprintf('Add New %s', $this->one), $i18n)`.

This makes the making of the translation bit hard because all post types should b

[2021-04-23 07:20] jmerilainen opened #67 "Comments remove `WP_Scripts::localize ` error"
I was testing the new awesome `application.discussion => false` feature and noticed that it calls the `Comments::remove()` which calls `BlockEditor::set('discussion', true)`  and finally it will call ` wp_localize_script('intervention-block-editor', 'config', 'discussion')`. But the `wp_localize_script` function requires the last parameter to be array so it errors out.

Should the `BlockEditor::se

[2021-04-24 08:05] darrenjacoby commented on #66
Hey @jmerilainen ,

Thanks for reporting this, happy to accept a PR for this if you don't mind sending that through!

[2021-04-24 08:07] darrenjacoby commented on #67
Hey @jmerilainen ,

I wasn't able to re-create the error, but did make a change, would you mind testing on your side for me?

[b58bd8](https://github.com/soberwp/intervention/commit/b58bd8c17fad6997ce4f3415b769d91284f88961#diff-c0e42c354ace57697c49b4ac4be5e0cde566095cc8b356d0d72e1f02ce14d12c)

[2021-04-27 22:18] nlemoine opened #68 "Composer dependencies in /dist"
Hi,

Any reason for composer dependencies to be included in the dist folder? It's loading unused/dev dependencies and those are messing with my composer dependencies.

Would you consider moving those to require-dev and not adding them to the releases?

[2021-04-28 06:36] darrenjacoby commented on #68
@nlemoine sure yes! I think we only need `tightenco` in the dist folder, will test and confirm. Is there a particular dev dependency giving an issue for your use-case?

[2021-04-28 07:02] nlemoine commented on #68
Thanks!

BTW the way, since it's WordPress and you're using composer, it's usually a good practice to prefix your dependencies because someone might use the same package in a different version. This may lead to conflicts/errors.

See [Yoast SEO](https://github.com/Yoast/wordpress-seo) (they use [`humbug/php-scoper`](https://github.com/humbug/php-scoper)) or [WP Rocket](https://github.com/wp-media/

[2021-04-28 07:03] darrenjacoby commented on #68
Thanks, will look into getting one of these options implemented!

[2021-04-29 10:43] nlemoine commented on #64
I'm all with @claytoncollie here. `pre_option` seems the better option IMO. I think it's fair to assume that using the plugin is short cutting options handling and obviously deactivating it will result in falling back to default, unchanged, database options. Describing clearly that behavior in the readme should be enough.

Maybe the best option would be to introduce to [manually set options](https

[2021-04-29 10:46] darrenjacoby commented on #64
Yea, I reckon I'm on the same page with `pre_option`. Had a pretty busy last two weeks with contract work, but will get to this soon.

[2021-05-02 17:03] darrenjacoby commented on #68
Merged #69, thanks @nlemoine!

[2021-05-02 17:03] #68 closed

[2021-05-02 17:04] darrenjacoby commented on #67
@jmerilainen just checking in here, let me know.

[2021-05-03 06:50] nlemoine commented on #68
Thanks!

[2021-05-09 17:31] jmerilainen commented on #67
Hey @darrenjacoby,

Sorry for ghosting suddenly, other things got over the way.

Yeah the format is now alright! But I still caught a minor error on front end which is missing dependencies of `intervention-block-editor` script. It requires `wp-blocks, wp-edit-post` scripts but I think those are enqueued only on admin.

I'm not yet super familiar with the codebase but for example this did the trick

[2021-05-10 13:38] darrenjacoby commented on #67
@jmerilainen thanks, added into `BlockEditor.php` and will release soon!

[2021-05-10 13:38] #67 closed

[2021-05-25 09:44] huubl opened #77 "Feature: option to disable admin email verification screen"
Hi,

What do think about adding an option to disable the admin email verification screen?

See: [https://www.intelliwolf.com/disable-wordpress-admin-email-verification/](https://www.intelliwolf.com/disable-wordpress-admin-email-verification/)

Maybe something like:

[code]

[2021-05-25 13:24] darrenjacoby commented on #77
I like it! I would probably add it under `wp-admin.login.email-verification` as it only alerts on login if I'm correct?

[2021-05-31 08:43] huubl commented on #77
Yes, as far as I know it only alerts on login.

I have made a pull request. I added it under `wp-admin.login` as `admin-email-check-interval`, which can be used to change the interval or completely disable it. When the `admin-email` is set in `intervention.php`, I set it to disable automatically.

I not sure if fits [here](https://github.com/soberwp/intervention/blob/c60ab43542d6311b06501480a5fd98

[2021-06-07 08:41] darrenjacoby commented on #77
Thanks! Yea, still debating myself where this should belong. It's a tricky one because it feels like we're removing the login validation screen, however we're also setting an application option. I'll try pull in the changes and see what feels more natural.

[2021-06-27 16:29] conatus opened #81 "Dump settings out of an existing WordPress installation"
Hey all,

Great idea for some code. Reminds me of a more comprehensive and automatic version of [Dictator](https://github.com/boxuk/dictator), which allows declarative WordPress environments to be set up.

My question is: is there a way to dump out existing settings from WordPress then have the array created automatically for you?

If not right now, is this a planned piece of functionality?

Thank

[2021-06-27 17:45] darrenjacoby commented on #81
Hey Alex,

That's a great idea, I'm going to be putting quite a bit more work in the coming months and can see the usefulness of this.

I'll close the issue for now but have added it to the todo list and hope to get it implemented some time in the future.

[2021-06-27 17:45] #81 closed

[2021-06-28 08:02] conatus commented on #81
Thanks @darrenjacoby!

If you could give this issue a little link so I get a notification whenever you get round to it I'd really appreciate it.

[2021-06-29 07:55] #66 closed

[2021-06-29 07:57] darrenjacoby commented on #64
This has been addressed in [d5ee64 ](https://github.com/soberwp/intervention/commit/d5ee64775215145cf9c4854fa30b2487164e2903) with a new internal Options API.

[2021-06-29 07:57] #64 closed

[2021-06-29 10:19] darrenjacoby commented on #77
Added to `application.general.admin-email.verification`

Thanks!

[2021-06-29 10:19] #77 closed

[2021-07-11 13:48] aitormendez opened #83 "Need help to install plugin"
Hi, @darrenjacoby. I am unable to install the plugin correctly on Bedrock / Sage10. First of all, I try it with Composer, but the macOS PHP version is 7.3.24 (Vagrant box has 7.4.21):

[code]

Second, I try the wp-cli command. After installation I get this warning:

I'm not sure what the problem is. Could you suggest a diagnosis / solution? Thank you!

[2021-07-11 17:34] darrenjacoby commented on #83
Hey @aitormendez,

Looks like the php requirement is not being met. The WP CLI error looks strange, I’ll test that out first thing tomorrow.

[2021-07-12 07:56] aitormendez commented on #83
Updating macOS PHP fix the composer installation way and the plugin works fine. Big Sur comes with PHP 7.3 by default.

[2021-07-12 07:56] #83 closed

[2021-07-12 09:11] darrenjacoby commented on #83
Hey @aitormendez, glad to hear you got it working, thanks for reporting back.

[2021-07-13 14:07] mrgesco opened #84 "Docker + Roots wrong composer inclusion path"
Hi,

I'm trying to add this plugin in my bedrock/roots installation with no success.

The problem is that composer tries to load the main file but at the wrong place.

I'm using docker to get a development stack (PHP-APACHE-MYSQL) and the web folder in the docker is `/var/www/html` mapped with `web` of bedrock/roots

`/var/www/vendor/composer/../../web/app/plugins/intervention/src/Intervention.php

[2021-07-13 14:26] bigskillet opened #85 "Plugin could not be activated because it triggered a fatal error"
PHP 7.4.14
Intervention 2.0.0-rc.3
WordPress 5.7.2

[2021-07-13 14:36] darrenjacoby commented on #85
Hey @bigskillet ,

Can you give dev-master a go? Should be fixed now.  I'll tag rc-4 shortly.

[2021-07-13 14:45] bigskillet commented on #85
That worked! Appreciate the quick reply!

[2021-07-13 14:45] #85 closed

[2021-07-13 14:58] darrenjacoby commented on #84
@mrgesco I'll retest with Bedrock, but initial feeling is that it may have something do with the setup.

The path is loaded using `define('INTERVENTION_DIR', dirname(__FILE__)); ` which runs from `intervention.php` within the plugin folder and should return the correct path for loading files from there. You could try echo constant `INTERVENTION_DIR` and see what it returns?

[2021-07-13 15:34] mrgesco commented on #84
Thank you @darrenjacoby for your quick reply!

This is the value of `INTERVENTION_DIR` and the plugin is working
`/var/www/html/app/plugins/intervention`

But I have always the warning about composer
`include(/var/www/vendor/composer/../../web/app/plugins/intervention/src/Intervention.php): failed to open stream: No such file or directory /var/www/vendor/composer/ClassLoader.php:444`

[2021-07-13 16:57] darrenjacoby commented on #84
@mrgesco try give `rc.4` a go, tagged today and let me know if that helps.

[2021-07-13 20:06] mrgesco commented on #84
No luck same behavior.

Getting the plugin manually works fine without the warning.

I'm pretty sure the problem is with docker but can't figure why...

Plugins required from wpackagist works fine.

[2021-07-21 14:13] mrgesco commented on #84
Unfortunatly not. I have installed the plugin manually and not with composer

[2021-07-23 19:46] darrenjacoby commented on #84
Thanks for reporting back @mrgesco. I haven't been able to replicate, so I'm going to close for now. If you discover any more information regarding the issue please do let me know.

[2021-07-23 19:46] #84 closed

[2021-08-06 16:07] jonsherrard opened #88 "Noob trouble trying to get Intervention working."
Forewarning, I am likely being a complete dolt here but I can't get this to work.

I've installed a must-use plugin through composer. The plugin itself is being loaded (I did a trusty `echo "test"; exit;`, to check), but the intervention.php file I've included in the root of my theme doesn't seem to be being loaded.

[code]

I've got the following in `intervention.php`

[code]

And naturally I'm e

[2021-08-06 16:12] darrenjacoby commented on #88
Hey @jonsherrard,

It sounds like it's not finding the intervention.php file, are you using Sage 9/10?

[2021-08-06 16:13] jonsherrard commented on #88
Hi @darrenjacoby I am not, is it required? 😬

[2021-08-06 16:18] darrenjacoby commented on #88
Nope it's not, it would just read from either `resources/` or `config/` if you were. it uses `get_stylesheet_directory()`, what does that return for you if you run somewhere in your code?

[2021-08-06 16:31] jonsherrard commented on #88
Hi @darrenjacoby,

I've figured it out. Installing with `composer require` defaults to version 1.3, which wasn't working. Discovered this when I searched the installed plugin for `get_stylesheet_directory` and it wasn't there.

Updated my composer to install directly from the master branch and everything's working perfectly 👍

[2021-08-06 16:33] darrenjacoby commented on #88
Ah right, that's an easy oversight. I need to tag 2.0.0, but been working on a few extra things for the release.

[2021-08-06 16:35] #88 closed

[2021-08-06 16:36] jonsherrard commented on #88
Thanks for your help! Amazing project too.

[2021-08-09 19:39] darrenjacoby commented on #88
@jonsherrard, thanks so much for the beers! It was so unexpected and made my day. 🍻🍻🍻

[2021-08-20 11:15] huubl opened #89 "Something goes wrong setting options / saving to database"
Hi,

Something goes wrong when using this settings:

[code]

When I check the database values, they are not changing or (when I click save on the admin general settings page ) wrong. For example the media options get:

option_name | option_value | autoload
-- | -- | --
thumbnail_size_w | 0 | no
thumbnail_size_h | 0 | no
thumbnail_crop | 1 | no
medium_size_w | 0 | no
medium_size_h | 0 | no

When sa

[2021-08-20 11:27] darrenjacoby commented on #89
Hey @huubl,

I’m on my phone now, but the new versions use pre_option which is faster than updating the db, so it wouldn’t reflect in the db itself. I am working on providing a sync option to update the db, should be releasing that soon.

[2021-08-20 13:34] darrenjacoby commented on #89
Hey @huubl,

Just tested with a new copy from dev-master here and no problems with the above config.

Are you using any other plugins that could be changing wp-admin settings elements? The design looks different to standard WP, so just wondering if that could be playing into it.

![image](https://user-images.githubusercontent.com/15921694/130241125-0687486c-227d-414c-b554-210e94047313.png)

[2021-08-22 14:11] darrenjacoby commented on #89
@huubl ,

Interesting, I was finally able to replicate. The problem is that Intervention is setting fields in `application` as disabled on the option pages, and so when you save settings from WP, the disabled field values aren't pulling through on save and instead clearing the DB entries. Not ideal. I think change from `disabled` to `readonly` will work better, but still testing.

[2021-08-22 14:33] darrenjacoby commented on #89
Really appreciate you picking this up, got a hotfix up which should solve it. Let me know if it does it for you. https://github.com/soberwp/intervention/commit/cf57d4a7ac3611174146ae118984bbcad818f3f5

[2021-08-24 06:19] jmerilainen commented on #89
Related to the fix: the `Sober\Intervention\UserInterface\Tools\Import` class is missing from the repo.

[2021-08-24 07:10] darrenjacoby commented on #89
@jmerilainen ah thanks! fixed.

[2021-08-24 16:17] huubl commented on #89
Hi @darrenjacoby,

I missed #64 Intervention using the pre_option now. I tried the current master branch with hotfix and it solves the problem.

Thanks for looking in to this!

[2021-08-24 16:17] #89 closed

[2021-08-31 09:18] darrenjacoby commented on #81
@conatus https://twitter.com/withjacoby/status/1432628725036769284

[2021-10-18 12:29] huubl opened #91 "Rename the master branch to main"
Rename the master branch to main, following the defaults of Github.

**Additional context:**

[https://github.com/github/renaming](https://github.com/github/renaming)

[2021-10-18 13:16] huubl opened #92 "Feature idea: add theme supports"
I came across: https://github.com/roots/sage/pull/2189/files and thought it can be useful for Intervention. What do you think about adding an option for setting theme supports?

[code]

[code]

[2021-11-22 21:53] huubl opened #97 "Translatable labels"
Hi,

Adding translatable labels is not working, any idea what could be the issue?

[code]

[2021-11-24 08:10] darrenjacoby commented on #97
Hey @huubl,

See [Application/Support/Posttypes/Labels.php](https://github.com/soberwp/intervention/blob/main/src/Application/Support/Posttypes/Labels.php)

Text domains are added by default using `THEME_TEXT_DOMAIN`.

Let me know if that helps.

[2021-11-24 08:13] darrenjacoby commented on #92
Hey @huubl,

Been meaning to respond here, expanding an option for `theme` has been on my radar for some time. However, I would first like to add an interface for `admin`. I'm going to close for now, but will likely revisit once I wrap up the interface.

[2021-11-24 08:13] #92 closed

[2021-12-01 10:19] darrenjacoby commented on #97
Hey @huubl,

Just checking if you got this working.

[2021-12-17 15:13] tombroucke opened #98 "Setting timezone through intervention without setting it in the DB: new posts are scheduled"
Hi,

I just got to know Intervention, and have implemented it in a first project, but encountered a problem.
In a fresh install, the value for the timezone_string option is EMPTY, so WordPress assumes UTC +0. In my config/intervention.php, I set the timezone to Europe/Brussels, this is correctly reflected wp-admin/options-general.php. The DB value for timezone_string remains EMPTY.

When I create

[2021-12-17 16:02] tombroucke commented on #98
I'm having a similar issue with translations. In the `plugins_loaded` hook, `get_locale()` returns en_US, while the language is set to nl_NL in my config/intervention.php file. Database value is EMPTY. I need to update the database value in order to get the correct translation.

Am I missing the point? Is intervention only disabling the options, but not settings their values?

[2021-12-17 16:12] darrenjacoby commented on #98
Hey @tombroucke,

I will check on the first issue regarding the timezone.

Language is a tricky one, as WordPress first needs to download the language pack. It does not change the DB setting, it uses the WordPress `switch_to_locale` function. https://github.com/soberwp/intervention/blob/main/src/Application/General.php#L125-L134

Intervention uses `pre_option` when available, and therefore does no

[2021-12-17 16:16] darrenjacoby commented on #98
Timezone looks related to https://wordpress.org/support/topic/time-zone-not-recognized-after-5-3-update/

I will see what I can do there.

[2021-12-17 17:04] #97 closed

[2021-12-17 17:46] darrenjacoby commented on #98
@tombroucke I seem unable to reproduce the timezone issue with a post changing from `publish` to `schedule`. Do you have any other plugins installed which may affect this?

[2021-12-20 08:21] tombroucke commented on #98
Hi,

Please see the screen recording below. Fresh install, twentytwentyone & intervention as the only active plugin. When I deactivate intervention, I can correctly publish new posts.

[code]

https://user-images.githubusercontent.com/24292260/146734673-979a8b05-1691-46d6-984f-bd28abf5fb0a.mov

[2022-01-19 09:19] markmercier opened #100 "Composer dependency incompatibilities with Sage 9"
Hey there - love the library and running the newest version as a standalone plugin but running into trouble getting it to install via Composer on Sage 9.

I tested fresh installs of:
- Sage 9.0.9
- Sage 9.0.10 (current version)
- Sage "9.1" from [this Discourse post](https://discourse.roots.io/t/sage-9-1-please-test/20067) (which features updated build tools)

on one computer running MacOS 10.14,

[2022-01-19 09:24] darrenjacoby commented on #100
Hey @markmercier,

Yea, I am aware of this issue, ran into it myself not long ago. The problem is that Sage 9 requires an older version of `illuminate`, and Intervention is using a newer version. (Intervention makes use of Laravel collections).

I need to implement `php-scoper` to scope those classes to avoid conflicts. Hoping to get around to it soon. I still need to look into it, but if it's goi

[2022-01-19 09:25] darrenjacoby commented on #100
To add; if anyone has experience with `php-scoper`, I would very much welcome a PR.

[2022-01-19 09:28] markmercier commented on #100
Hey @darrenjacoby holy cow appreciate the incredibly quick response! Somewhat relieved to find out it's a known issue and not some crazy random problem with my machine.

Plugin copy is a great fallback so things are good for the meantime but I imagine there are a handful of devs like me that are lowkey dreading upgrading to Sage 10 so anything that helps prolong the lifespan of Sage 9 would be ama

[2022-01-19 09:31] darrenjacoby commented on #100
No problem! I am in the process of wrapping up a full fledged UI for Intervention, and will get this sorted right after.

[2022-01-29 22:02] claytoncollie opened #101 "Remove activate and deactivate actions when defining plugin state in config"
I am finally using this plugin and I really love it. I feel like I am dialing in my WordPress config just how I like it with the application array. One thing I noticed is that when you define a set of plugins in the `application.plugins` array, the `bulk_actions-plugins` and `plugin_action_links` should probably be filtered to remove the`Activate` and `Deactive` options.

See https://developer.wor

[2022-01-29 23:55] claytoncollie opened #102 "Publish plugin to wordpress.org"
Have you given any thought to publishing this plugin to wordpress.org? It's actually really easy nowadays with [this GitHub Action](https://github.com/claytoncollie/tracking-code-for-google-analytics/blob/master/.github/workflows/deploy.yml). I have my plugins automatically published to the repo without leaving GitHub. You would not need [this part](https://github.com/soberwp/intervention/blob/974

[2022-01-30 10:04] darrenjacoby commented on #101
Hey @claytoncollie,

Thanks for the nice words!

That makes sense to me. I've added to the next release. You were correct it should get added to that file, [`Theme.php`](https://github.com/soberwp/intervention/blob/main/src/Application/Theme.php) does something similar, it uses an `Admin` class where you can set the Intervention key to be removed.

I've added the following to `Plugins.php` when an

[2022-01-30 10:15] darrenjacoby commented on #102
Hey @claytoncollie,

Yes, I have been planning on moving to wordpress.org. I first had to implement [php-scoper](https://github.com/humbug/php-scoper) to namespace vendor namespaces to avoid conflicts, but that's part of the new release. I will likely publish that branch later today, or in the coming days.

I would love a PR for the GH action though!

[2022-01-31 12:51] darrenjacoby commented on #102
@claytoncollie if you do have time to submit a PR, would you mind working from branch `interface`? That's the latest.

Also feel free to take it for a test-run. It requires more testing, but has an interface for the admin section under Tools→Intervention.

[2022-01-31 12:52] darrenjacoby commented on #101
Should be on branch `interface`, still very much a work in progress branch though.

[2022-02-05 00:34] Panukulf opened #103 "[wp-admin.login]"

[2022-02-07 08:27] darrenjacoby commented on #103
@Panukulf could you provide more information?

[2022-02-09 14:56] darrenjacoby commented on #103
Closing, please feel free to provide more information and I will open this issue again.

[2022-02-09 14:56] #103 closed

[2022-02-09 14:57] darrenjacoby commented on #100
@markmercier you can give the branch `interface` a go, it has phpscoper implemented.

[2022-02-13 20:32] claytoncollie commented on #101
I checked out the `interface` branch and ran `composer install && composer run build` and am getting a fatal error.

[code]

[2022-02-16 10:45] BSBjorn opened #105 "[application.media]"
Hi.

I'm trying to enble support for SVG uploads, but it is not registered. The CPT is configured and working, so I'm sure the plugins is actuve. Am I doing it wrong?

`return [
    'application' => [
        'posts' => [
            'cabin' => [
                'one' => 'Hytte',
                'many' => 'Hytter',
                'supports' => [
                    'title', 'thumbnail', 'editor',

[2022-02-16 11:08] darrenjacoby commented on #105
Hey @BSBjorn,

Just tested your config locally and can confirm it's working as expected. Are you not able to upload svgs with the above config?

[2022-02-16 11:46] BSBjorn commented on #105
Thats is correct. I still get the error "Asset 1.svg Sorry, you are not allowed to upload this file type".

Wordpress 5.9, Bedrock, Sage 10 beta 2 is my settup

[2022-02-16 12:13] darrenjacoby commented on #105
@BSBjorn if you add this to `functions.php` does it work?

[code]

Intervention essentially uses this so just trying to debug what it could be.

[2022-02-16 12:32] BSBjorn commented on #105
That does not work either... This is a neraly fresh install of sage10 and bedrock...

[2022-02-16 12:39] BSBjorn commented on #105
Only reference to upload_mimes is in /web/app/mu-plugins/intervention/src/Application/Media/Mimes.php

[2022-02-16 17:55] darrenjacoby commented on #105
@BSBjorn Hmm, very odd, let me give it a think or try to recreate with Bedrock.

[2022-02-17 01:04] markmercier commented on #100
Hey @darrenjacoby I just got around to testing this out but I'm still getting what seems to be the same issue :/.

Obvious question first: is `composer require soberwp/intervention:dev-interface` the right composer command to grab that branch? It seems like it's finding it so I assume so. This is the error I'm getting:

[code]

If I try that same `--with-all-dependencies` flag I get what seems to

[2022-02-17 07:48] BSBjorn commented on #105
@darrenjacoby thanks! Let me know if you need anything more from me. :)

[2022-02-17 08:59] BSBjorn commented on #105
FYI, I just testet on another site I have running. Same result.

[2022-02-17 09:01] darrenjacoby commented on #105
@BSBjorn also a bedrock based site? Could you test on a non-Bedrock site? Just want to rule it out.

[2022-02-17 09:33] BSBjorn commented on #105
Yeah, same setup, Bedrock and Sage 10. Don't have any non bedrock projects with sage... I'll see if I can do some magic

[2022-02-17 09:57] darrenjacoby commented on #105
@BSBjorn can you try add this to your `functions.php` file and test.

[code]

[2022-02-17 10:18] darrenjacoby commented on #101
@claytoncollie you may need to install php-scoper globally before running `composer run build` for the time-being;

`composer global require humbug/php-scoper`

[2022-02-17 10:45] BSBjorn commented on #105
That worked!  I put it in the app/filters.php file and instantly working.

[2022-02-17 10:47] darrenjacoby commented on #105
Great, thank you for helping debug. It seems related to the WP version and a change that was made sometime with 4.7.1+. At the time there was mention it would be resolved in the next release, but it seems to persist. So I will include this fix in Intervention for the next version.

[2022-02-17 10:59] BSBjorn commented on #105
Happy to help! Thanks for a superb plugin, just makes working with WP alot better. 👍

[2022-02-17 12:23] darrenjacoby commented on #105
@BSBjorn thanks for the kind words!

The fix has been added to `main`. Let me know if that does the trick!

https://github.com/soberwp/intervention/commit/1a5a1837acbb9b51d4ba138c01fbad5c52e39ddc

[2022-02-17 12:28] darrenjacoby commented on #101
I have added this fix to `main` for the meanwhile. I will open separate issues for PHP scoper and `interface` should we need.

[2022-02-17 12:28] #101 closed

[2022-02-17 12:29] BSBjorn commented on #105
Tested and working like a dream now! :D

[2022-02-17 12:31] darrenjacoby commented on #105
Glad to hear! Thanks for testing so fast and appreciate the issue as well! I'll close this for now.

[2022-02-17 12:31] #105 closed

[2022-02-18 03:40] claytoncollie opened #107 "Add support for WordPress code style/format/linting"
I opened the plugin files up in my VS Code and noticed a ton of formatting issues. I have my machine set to use the [WordPress-Extra standard](https://github.com/WordPress/WordPress-Coding-Standards) when writing code. Would you be open to linting this entire plugin against a standard? We can have it run against all pull requests and all releases/deployments as well. I would be happy to work on th

[2022-02-18 04:21] claytoncollie commented on #107
Sorry, just now seeing this is the standard `symplify/easy-coding-standard`

[2022-02-18 08:01] darrenjacoby commented on #107
@claytoncollie I'm open to review it actually, `symplify/easy-coding-standard` was a contribution. I am not a fan of the WordPress coding standards, but open to implementing PSR-12.

[2022-02-23 19:25] tombroucke opened #112 "Fatal error"
Hi,

Automated updates on several website are failing since februari 20th because a fatal error:

[code]

All websites are running Bedrock & Sage 9 & latest tagged version of intervention (7377e42)

[2022-02-24 08:12] BSBjorn commented on #112
Yeah, same here. Total crash of the site.

[2022-02-24 08:59] darrenjacoby commented on #112
Shit, thanks for reporting.

It's because I'm trying to move it towards a WordPress plugin/wpackagist, so I need to compile third party code into `vendor/`. I imagine Composer is over-riding the prebuilt `vendor` file I have with the namespaced third party classes. I will try see how I can get this working in the meanwhile before the transfer to wpackagist. For now you can pull in version `2.0.0-r

[2022-02-24 09:26] darrenjacoby commented on #112
@tombroucke @BSBjorn I just ran `composer require soberwp/intervention:dev-main` and it seemed to keep the distributed vendor folder. On your side, could you check for me, under `intervention/vendor/illuminate/collections/Collection.php` is the namespace `Jacoby\Intervention\Illuminate\Support`?

[2022-02-24 09:32] tombroucke commented on #112
The vendor folder is present & namespace is correct. I will also try to debug the problem.

![Screenshot 2022-02-24 at 10 28 45](https://user-images.githubusercontent.com/24292260/155497051-0ab6caf8-7974-4d97-9e1f-0232c85fa0b5.png)

[2022-02-24 09:35] darrenjacoby commented on #112
Maybe something to do with the autoloader? Does it work if you just clone from GitHub?

[2022-02-24 09:36] BSBjorn commented on #112
just dit

Same her. Namespace is correct.

![image](https://user-images.githubusercontent.com/19681090/155498054-b38bbeb7-0c95-4573-b7b9-b66557bda871.png)

[2022-02-24 09:40] darrenjacoby commented on #112
@tombroucke @BSBjorn what if you remove this in the root `intervention.php`?

[code]

If you remove if `(!class_exists('Jacoby\Intervention\Intervention')) { ` ?

Does the code run inside `if (is_file(__DIR__ . '/vendor/autoload.php')) {` ?

[2022-02-24 09:48] BSBjorn commented on #112
Just tried cloning from github, same issue.

I tried removing the IF. Different error...

![image](https://user-images.githubusercontent.com/19681090/155500065-477dfdd0-8c6b-4faf-8fd1-ac6f4f17f755.png)

[2022-02-24 10:12] tombroucke commented on #112
I assume the autoloader is looking for the Collection class in `src/illuminate/support/Collection.php`, which doesn't exist. The Collection class is located in `vendor/illuminate/collections/Collection.php`, in the `Illuminate\Support` namespace. You have prefixed the namespace with `Jacoby\Intervention\`, which makes the autoloader search for the class in `src/Illuminate/Support/Collection.php`.

[2022-02-24 10:24] darrenjacoby commented on #112
@tombroucke Hm, any ideas on the best solution with php-scoper? Change the namespace of scoper so it's something different and doesn't conflict with PSR-4 loading? I'm a little stumped on the best solution.

[code]

[2022-02-24 10:44] BSBjorn commented on #112
Is there a way for me to get this working for now?

[2022-02-24 10:46] darrenjacoby commented on #112
@BSBjorn falling back to `2.0.0-rc.4` should work.

[2022-02-24 10:51] BSBjorn commented on #112
OK, sorry for my incompetence, but can you quickly explain how I do that with composer?

[2022-02-24 10:53] darrenjacoby commented on #112
@BSBjorn try `composer require soberwp/intervention:2.0.0-rc.4`

[2022-02-24 10:58] BSBjorn commented on #112
THANKS! :D leraned something usefull right away. :) Just let me know if you need to test, I'm happy to help!

[2022-02-25 10:48] jeremydumaye commented on #112
Hi @darrenjacoby so I have the same problem with the dev-main version, and if I downgrade to `2.0.0-rc.4` all my params not working well like `'application.discussion' => false` not removed from admin panel menu. So I tried to remove `(!class_exists('Jacoby\Intervention\Intervention')) { ` and now it is working well. So yes I think it comes from a problem of autoloader and your new folder vendor/

[2022-02-25 11:49] darrenjacoby commented on #112
@jeremydumaye committed that change to dev-main. Could you give me more insight into your setup? Sage 9/10? Bedrock? Standard WP installation?

Thanks!

[2022-02-25 11:55] jeremydumaye commented on #112
@darrenjacoby Perfect I update dev-main version and all working good thanks ! For my setup, I use Sage 9 and Bedrock

[2022-02-25 12:06] darrenjacoby commented on #112
@jeremydumaye and you installed the plugin now with `composer require soberwp/intervention:dev-main` correct?

[2022-02-25 12:24] jeremydumaye commented on #112
@darrenjacoby yes 👍

[2022-03-01 11:39] darrenjacoby commented on #112
Closing for now!

[2022-03-01 11:39] #112 closed

[2022-03-03 11:13] BSBjorn commented on #112
just did update as well to dev-main and is working as expected. Thanks

[2022-03-04 15:49] bigskillet opened #115 "[Featured Request] Additional Page Attribute Settings"
Allow the selection of a page template, but restrict the ability to choose a parent:

[code]

[2022-03-07 07:23] darrenjacoby commented on #115
@bigskillet for the block editor?

[2022-03-07 13:58] bigskillet commented on #115
I was referring to the classic editor actually, but I assume the page attributes metabox would be the same for the block editor, or no?

[2022-04-04 12:12] darrenjacoby commented on #107
Closing for now.

[2022-04-04 12:12] #107 closed

[2022-04-04 12:12] darrenjacoby commented on #115
@bigskillet will look into this!

[2022-06-23 18:26] cb3rnard opened #119 "Post types with "-""
Hello !
First of all, this plugin is fantastic and really usefull. I use it on many website.
Today I stumbled on a little issue, which prevents me from updating theme custom types : the slugs include the symbol '-', which is overwritten with '_' in Intervention. Example : "portfolio-item" or "show-item"
Could it be possible to check for both versions when looking for the existence of a custom type

[2022-06-23 18:28] darrenjacoby commented on #119
Sure, I will take a look and see if I can check for both!

[2022-06-23 18:30] #102 closed

[2022-06-23 19:35] cb3rnard commented on #119
Just realized that same goes for taxonomies. Damn themes...